/* NAVBAR*/ 
#nav{
    margin:0 ;
    padding: 0;
}
.navbar-custom .nav-link {
  color: rgba(235, 100, 47, 0.925);

}

.navbar-custom .nav-link:hover {
  color: #fdfdfd;
}


#divNavbar1 {
  height: 10px;
  background: linear-gradient(
    to bottom,
    #ffd000e1,
    #ee3d07e8
  );
}

#divNavbar2 {
  height: 5px;
  background: linear-gradient(
    to bottom,
    #ee6f07d0,
    #f72307d0
  );
}
#divNavbar3 {
  height: 5px;
  background: linear-gradient(
    to bottom,
    #ee9207e8,
    #f7a307e7
  );
}


#buttonBuscar{
    background-color: #eb8612;
    color: azure;
}

/* MOVIECARD */ 
.movie-item {

  display: flex;
  justify-content: center;
  align-items: center;
  width: 200px;   /* 👈 cambia esto a tu gusto */
  height: 400px;
  margin: 10px;

overflow: hidden;
 
}

.movie-card-body{
  display: flex;
  justify-content: center;
  flex-direction: column;
  align-items: center;

  width: 200px;
  height: 370px;
   padding: 0;
}

.movie-card img {
  width: auto;
  height: 250px;
  object-fit:contain;
  border-radius: 10px;
  border: 2px solid rgba(223, 85, 5, 0.938);
  padding:0;
}

.movie-card {
  color: rgb(248, 245, 245);
  border-radius: 10px;
  overflow: hidden;
  padding: 10px;
  width: 300px;
  margin: 4px;
}

.movie-card h5 {
  font-size: 14px;
  margin-top: 10px;
  text-align: center;
}

.movie-card p {
  font-size: 12px;
}
ul {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
gap:10px;


}
.movie-card{
  padding: 0;
}
.votacion{
  padding-top: 10px ;
  margin: 0px;
  text-align: center;
 
}
.fecha{
  margin:0;
  padding: 4px;
    text-align: center;

}
.card-body{
  background-color: #0c0c0c;
  border: 2px solid rgba(223, 85, 5, 0.938);
  border-radius: 10px;
  width: 175px;
  height: 50px;
}


/* CARRUSEL */

#carouselExampleCaptions{

background-color: black;
}


