/* NAVBAR*/ 
#nav{
    margin:0 ;
    padding: 0;
}
.navbar-custom .nav-link {
  color: rgba(235, 100, 47, 0.925);

}

.navbar-custom .nav-link:hover {
  color: #fdfdfd;
}


#divNavbar1 {
  height: 10px;
  background: linear-gradient(
    to bottom,
    #ffd000e1,
    #ee3d07e8
  );
}

#divNavbar2 {
  height: 5px;
  background: linear-gradient(
    to bottom,
    #ee6f07d0,
    #f72307d0
  );
}
#divNavbar3 {
  height: 5px;
  background: linear-gradient(
    to bottom,
    #ee9207e8,
    #f7a307e7
  );
}


#buttonBuscar{
    background-color: #eb8612;
    color: azure;
}

/* MOVIECARD */ 
.movie-item {

  list-style: none;
  width: 200px;
  margin: 10px;
  display: flex;
  flex-direction: row;
  justify-content: center;
}

.movie-card {
  width: 300px;
  border: 3px solid black;
  background-color: antiquewhite;
  display: flex;
  justify-content: center;
  flex-direction: row;
  border-radius: 8px;
  overflow: hidden;
}

.movie-card-body {
   overflow: hidden;
  width: 100%;
  border: 3px solid green;
  min-height: 300px;
  background-color: #fdfdfd;
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 10px;
}

.movie-card video {
  padding-top: 0;
margin-top: 0;
  width: 350px;
  height: auto;
}

.movie-card .card-title {
  font-size: 20px;
  margin-top: 10px;
}
